<html>
	<head>
	
	<title>
	YelpCamp
	</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="/stylesheets/landing.css" type="text/css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha512-3n19xznO0ubPpSwYCRRBgHh63DrV+bdZfHK52b1esvId4GsfwStQNPJFjeQos2h3JwCmZl0/LgLxSKMAI55hgw==" crossorigin="anonymous"></script>
</head>

<body>
		
		<div id="landing-header">
			<h1>Welcome to Travelling Blog!!</h1>
            <a class="btn btn-primary" href="/Camp">CampGround</a>
		</div>
		
	
	<ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
	
	
</body>

</html>




