<%- include ('../partials/header.ejs')%>
<div >
	<h1 class="text-center">
	new camp
   </h1>

	
	<div class="row" style="width:30%; margin:0 auto;">

		<div class="container">
			<form action="/postcamp" method="POST">

				<div class="form-group">

				<input class="form-control" type="text" name="name" placeholder="name">

				</div>

				<div class="form-group">
				<input class="form-control" type="text" name="image" placeholder="image url">

				</div>

				<div class="form-group">
				<!--<input class="form-control" type="text" name="description" placeholder="describe">-->
				<TextArea name="description" class="form-control" placeholder="describe" rows=7 ></TextArea>	
				</div>
				<div class="form-group">		
				<button class="btn btn-primary btn-large btn-block">
					submit
				</button>
		      </div>
	
			</form>

		</div>

		</div>
</div>
<%- include ('../partials/footer')%>